
html {
	height: 98%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.calcButton.dijitButton .dijitButtonNode{
    width: 30px;
}

.splashDiv {
	margin: 1.5em; 
	padding: 1em;
	border: 1px solid gray; 
	border-radius: 6px; 
	-moz-border-radius: 6px; 
	margin-left: auto; 
	margin-right: auto; 
	background-color: white; 
	width: 1075px;
	box-shadow: 10px 10px 5px #888888;
}
